
{% load static %}
    {% block content %}
   <center> <form id="form" action="response">
        <h1>here form</h1>
           <input type="submit" value="submit" ><br>
        <input type="text" placeholder="Title" name="title"><br>
        <input type="text" placeholder=" Description" name="desc"><br>
        
               
    </form>
    <button id="addTextButton" onclick=""> add Text Feild</button> <br>
        
        <button id="addChoiceButton" onclick=""> add Choice Feild</button> <br>
        <button id="addcheckBoxButton" onclick=""> add checkbox Feild</button> <br>
        
        </center>
     
    <script src="{% static 'script.js' %}"></script>
    {% endblock %}
